@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Quicksand:wght@400;500;700;800&display=swap');
$primaryFont: 'Quicksand', sans-serif;


body {
    font-family: $primaryFont; 
    background: url('./images/icecream.jpg') no-repeat center center fixed;
    background-size: cover;
}

nav {

    ul li {
        font-weight: 500;
        font-size: 2rem;
        margin-right: 2rem;
        &:hover {
            border-bottom: 3px solid pink;
            padding-bottom: 5px;
            transition: .1s ease-in-out;
        }
    }
}

#content {
    padding: 0;
    margin: 0;
}

nav > a:first-child, 
nav > a:first-child:hover, 
nav > a:first-child:active, 
nav > a:first-child:focus  {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color: pink;
    filter: drop-shadow(5px 5px 4px pink);
}

.bg {
    background-color: white;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.03));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
}

.caption {
   color: white;
   font-weight: 500;
   border-bottom: 4px solid pink;
    user-select: none;

    p {
        filter: drop-shadow(1px 1px 3px #0000008C);
    }
}


#love {
    font-family: 'Dancing Script', cursive;
    color: pink;
    filter: drop-shadow(2px 1px 3px #FF1493);
    font-weight: 700;
    display: flex;
    justify-content: center;
}